footer
  .container.text-center
    div © 2014 Thomas Nattestad
    div
      strong Collaborative Tubing
      |  Created by
      a(href='http://nattestad.me')  Thomas Nattestad
    div
      | Code licensed under&nbsp;
      a(href='http://opensource.org/licenses/mit-license.html') MIT License
    div
      a(href='https://github.com/thomasnat1/collaborativeTube') GitHub Project
      |  ·&nbsp;
      a(href='https://github.com/thomasnat1/collaborativeTube/issues') Issues