extends layout

block content
  .page-header
    h3 Create a New Room

  form(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-8.col-sm-offset-2
          .form-group
              label.control-label(for='email') Room Name
              input.form-control(type='text', name='email', id='email', placeholder='Room Name', autofocus=true)
          .form-group
              button.btn.btn-success(type='submit')
                  i.fa.fa-youtube-play
                  | Create
          hr