extends layout
block content
  .row
    .col-lg-7.testBorder.noPadding
      div(id='player')
      div(id='controls')
        |playlist controls
    .col-lg-5.testBorder.noPadding
      div(id='playlistArea')
      div(id='addSection')
        form(method='POST')
          .form-group
            .input-group
              input.form-control(type='text', id='addVideoTextfield')
              span.input-group-btn
                button.btn.btn-success#addVideoButton(type='button') Add!




  script(src="https://www.youtube.com/player_api")
  script.
    var youtubePlayer;
    function onYouTubePlayerAPIReady() {
      console.log('youtube api ready');
      youtubePlayer = new YT.Player('player', {
        height: '411',
        width: '675',
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange,
          'onError': onPlayerError
        }
      });
    }
    function onPlayerReady(event) {
      console.log('player ready');
      youtubePlayer.cueVideoById('dfkiJXnSRM8');

    }

    function onPlayerStateChange(event) {
      if(event.data === 0) {

      }
    }

    function onPlayerError(event){
      window.debugTest = event;
      console.log('player error');
    }
